@media (max-width:600px){
    header .cononedor{
        flex-direction: column;
        text-align: center;
        gap: 15px;

    }
    .nav{
        display: none;
    }
    .menu{
        display: block;
    }
    .Ordenar, 
    .Iniciar{
        padding: 8px 14px;
        font-size: 1.2rem;
    }
    .herp{
        padding: 60px 15px;
    }
    .hero-contenedor h1{
        font-size: 1.5rem;
    }
    .productos{
        grid-template-columns: 1fr;
    }
    .producto img{
        height: 160px;
    }
}