:root{
    --principal: #3d2a1d;
    --segundo:#F8E8D0;
    --accent:hsl(25, 76%, 31%);
    --texto1: #0f0f0f;
    --texto2: #382819;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--texto1);
   font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: /*linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), */
                url('../img/fondob.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.contenedor{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}
h1,h2,h3{
    margin-bottom: 1rem;
    color: var(--texto1);
}
h1{
    font-size: 2rem;
    font-weight: 700;
}
h2{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}
p{
    margin-bottom: 1rem;
}
.btn,
#Ordenar{
    display: inline-block;
    background-color: var(--principal);
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    transition:background-color 0.3s ease;
    border:none;
    cursor: pointer;
    color: var(--segundo);
}

    .Ordenar:hover {
    color: var(--accent);             
    
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--segundo);
}
.logo img{
    height: 0px;
    margin-right: 10px;
    filter: invert(90%);
    border-radius: 90%;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li{
    margin-left: 2rem;
}
.nav ul li a{
    color: var(--segundo);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}


.Iniciar{
    margin-left: 2rem;
    color: var(--segundo);
    text-decoration: none;
    font-weight: 700;
}
.Ordenar{
    margin-left: 2rem;
    color: var(--segundo);
    text-decoration: none;
    font-weight: 700;
}

.nav ul li a:hover{
    color: var(--accent);
}
.menu{
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--segundo);
    background-color: none;
    border: none;

}
.hero{
    padding: 4rem 0;
    text-align: center;
    border-radius: 15px;
    margin: 4rem auto;
    width: calc(100%-2rem);
    max-width: 1250px;
}
.hero .contenedor{
    display: flex;
    flex-direction: column;/*para el celular*/
    align-items: center;
    gap: 2rem;
    text-align: left;
   background-color: rgba(234, 210, 181, 0.521); 
    border-radius: 30px;
    
}
.hero-contenedor{
    flex: 1;
    text-align: center;
}
.hero-contenedor h1{
    color: var(--texto2);
    font-size: 2.8rem;
    line-height: 1.2;
}
.hero-contenedor{
    color: var(--texto1);
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}
.btn:hover{
    color: var(--principal);
    background-color: var(--segundo);
}
.Favoritos{
    padding: 80px 0;
    background-color: rgba(255, 255, 255, 0.356);
    color: var(--segundo);
}
.Favoritos h2{
    text-emphasis: center;
    color: var(--principal);
    margin-bottom: 50px;
    font-size: 2.5rem;
}
.Favoritos h3{
    color: var(--segundo);
    margin-bottom: 5px;
    font-weight: 700;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: stretch;
}
.producto{
    background-color: var(--principal);
    border-radius: 20px;
    padding: 10px;
    height: 450px;
    text-align: center;
    width: 230px;
    box-shadow: 0 4px 10px rgba(234, 210, 181, 0.5);
    transition: transform 0.3,box-shadow;
    justify-content: space-between;
    flex-direction: column;

}
.producto:hover{
    transform: translatey(-10px);
    box-shadow: rgba(234, 210, 181, 0.5);

}
.producto img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
    float: center;
    object-fit: cover;
}
.producto p{
    font-size: 0.9rem;
    color: var(--segundo);
    margin-bottom: 10px;
    max-height: 3.9em; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3.9em;
    overflow-y: auto; 
    scrollbar-width: thin; 
    scrollbar-color: #30210b #3d2a1d;
}

.producto .precio{
    font-weight: 700;
    color: #caa008;
    font-size: 1.2rem;
    margin: 10px;
}
.producto .agregar{
    background-color: #F8E8D0;
    color: #382819;
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}
.producto .agregar :hover{
    background-color: #8b6e05;
    color: #faf7f7;
}
.agregar:hover{
    background-color: #e6c200;
    color: #fff;
}