*{
    padding: 0;
    margin: 0;

}
body{
    font-family: "Josefin Sans", sans-serif;
     background-color: rgba(134, 123, 176, 1);
}
button{
    font-weight: bold;
    border-radius: 20px;
    height: 40px;
    padding-top: 5px;
    width: 110px;
    border: 1px solid #a59fbb;
    color: white;
    background-color: #7b6ac8;
    text-transform:uppercase;
    box-shadow: 5px 5px rgb(117, 62, 205);
}
section#home {
    height: 100vh;
    background: #867bb0;
    background: linear-gradient(90deg, rgba(134, 123, 176, 1) 0%, rgba(131, 110, 194, 1) 45%,  rgb(117, 62, 205) 100%); padding-left: 50px;
    padding: 50px;
}
section#home header{
    display: flex;
    justify-content: space-between;
   
}
section#home header div h1{
    color:white;
}
section#home header nav ul{
    display: flex;
    gap: 20px;
    margin-top: 08px;
}
section#home header nav ul li{
list-style: none;
}
section#home header nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
}
section#home #content{
    display: flex;
    color: white;
}
section#home #content div{
    flex: 1;
}
section#home #content h2{
    width: 40%;
    font-size: 3rem;
    color:white;
    margin-top: 60px;
}
section#home #content p{
    width: 45%;
    margin-top:40px;
}

.b1{
    font-weight: bold;
    border-radius:40px;
    border: 1px solid rgb(117, 62, 205);

}
#contenido2{
    display: flex;
    margin-top: 30px;
    gap: 15px;
}
.b2{
    font-weight: bold;
    border-radius:40px;
    border: 1px solid rgb(117, 62, 205);
    background-color: transparent;
}
section#home #content div#img img{
    width: 100%;
    max-width: 450px;
    height: 450px;
    max-height: max-content;
    margin: 100px;
    margin-left: 150px;
    border-radius: 80%;
    margin-top: 50px;
    box-shadow:0px 0px 8px rgba(255, 255, 255, 0.9), 
               0px 0px 40px rgba(173, 120, 192, 0.9),  
               0px 0px 60px rgba(113, 73, 146, 0.7),  
               0px 0px 90px rgba(151, 42, 187, 0.5);
}
section#home #Barras{
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}
section#home #Barras #Barra1{
    width: 100%;
    height: 80px;
    background-color: #3e2f82;
    border-radius: 2px;
    
}
.cinta{
    background-color: #e5a5ec;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    left: -25%;
    transform: rotate(-3deg)
    
}
